<div class="container-fluid" style="margin-bottom: 5px;">
	<div class="header">
		<h1>Current hunts</h1>
		<div class="header-actions">
			<button (click)="accordion.closeAll()" [disabled]="!isAtLeastOneHunt" class="action" mat-stroked-button
			        title="Collapse all">
				<span>Collapse all</span>
			</button>
			<button (click)="createHunt()" class="action" color="primary" mat-raised-button title="Add new hunt">
				<span style="padding-right: 3px">Add</span>
				<fa-icon [icon]="['fas', 'plus']"></fa-icon>
			</button>
		</div>
	</div>
	<ng-container *ngIf="isAtLeastOneHunt; else elseBlock">
		<mat-accordion multi>
			<ng-container *ngFor="let hunt of hunts">
				<app-hunt (deleteEvent)="removeHunt($event)" [hunt]="hunt" [toggled]="false"></app-hunt>
			</ng-container>
		</mat-accordion>
	</ng-container>
	<ng-template #elseBlock>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="create-wrapper">
						<button (click)="createHunt()" color="primary" mat-stroked-button>
							<span>Create</span>
						</button>
						<button (click)="openTutorial()" mat-stroked-button>
							<span>Tutorial</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</div>
