<div class="container-lg hunt-body">
	<mat-grid-list cols="3" gutterSize="2px" rowHeight="100px">
		<!-- Shiny sprite and counter -->
		<mat-grid-tile [colspan]="2" [rowspan]="2" id="hunt-encounter-tracker-tile">
			<div class="container-fluid">
				<div class="row mat-figure">
					<!-- Sprite -->
					<div class="col-5">
						<div class="copiable-output">
							<mat-card [cdkCopyToClipboard]="copyToClipboard(hunt.pokemonSprite)"
							          class="pokemon-sprite centered copiable-output-label">
								<img [alt]="hunt.pokemonName" [src]="hunt.pokemonSprite" mat-card-image>
								<fa-icon [icon]="['fas', 'copy']" class="interactive-icon fa-s"
								         title="Click to copy image url"></fa-icon>
							</mat-card>
						</div>
					</div>
					<!-- Counter -->
					<div class="col">
						<div class="output" id="hunt-encounter-output">
							<app-labeled-output [copyValue]="getEncounterPath" [label]="'Encounters'"
							                    [value]="hunt.encounterNumber">
							</app-labeled-output>
						</div>
					</div>
				</div>
			</div>
		</mat-grid-tile>

		<!-- Infos -->
		<mat-grid-tile [colspan]="1" [rowspan]="3" class="hunt-stats" id="hunt-info-tile">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<div class="output">
							<app-labeled-output [copyValue]="getChancesPath" [label]="'Chances'" [secondary]="true"
							                    [value]="probability" class="output">
							</app-labeled-output>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="output">
							<app-labeled-output [label]="'Rate'" [secondary]="true" [value]="odds" class="output">
							</app-labeled-output>
						</div>
					</div>
				</div>
			</div>
		</mat-grid-tile>

		<!-- Encounters actions -->
		<mat-grid-tile [colspan]="2" [rowspan]="1" id="hunt-encounter-actions-tile">
			<div class="container-fluid">
				<div class="actions">
					<button (click)="decreaseEncounterNumber()" class="action" color="accent" mat-raised-button>
						<fa-icon [icon]="['fas', 'minus']" size="lg"></fa-icon>
					</button>
					<button (click)="increaseEncounterNumber()" class="action" color="accent" mat-raised-button>
						<fa-icon [icon]="['fas', 'plus']" size="lg"></fa-icon>
					</button>
				</div>
			</div>
		</mat-grid-tile>
	</mat-grid-list>
</div>

<mat-action-row>
	<div class="hunt-tools">
		<div class="hunt-actions">
			<button color="primary" mat-raised-button>
				<span>Captured</span>
			</button>
		</div>
	</div>
</mat-action-row>
