.hunt-body {
    margin-top: 10px;
    margin-bottom: 10px;
}

:host ::ng-deep #hunt-encounter-output .labeled-output {
    height: 80px;
}

:host ::ng-deep #hunt-encounter-output .labeled-output .field {
    font-size: 1.5rem;
}

.hunt-stats:not(:first-child) .output {
    margin-bottom: 10px;
}

/*  == Output copy actions ==  */
.copiable-output .copiable-output-label {
    position: relative;
}

.copiable-output .copiable-output-label .interactive-icon {
    position: absolute;
    top: 3px;
    right: 3px;
}

.copiable-output .copiable-output-label .interactive-icon {
    opacity: 5%;
}

.copiable-output:hover .copiable-output-label .interactive-icon {
    animation-name: hover-icon;
    animation-duration: 1s;
    animation-direction: normal;
    opacity: 1;
}

@keyframes hover-icon {
    0% {
        opacity: 5%;
    }
    100% {
        opacity: 1;
    }
}

/*  == Counter actions ==  */
#hunt-encounter-actions-tile .actions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#hunt-encounter-actions-tile .actions .action {
    width: 45%;
    height: 50px;
    display: inline-block;
    align-items: center;
}
