<div class="container">
	<form [formGroup]="form">
		<div class="row">
			<!-- Encounter config -->
			<div class="col">
				<div class="container-fluid">
					<!-- Hunt infos -->
					<div class="row form-row">
						<div class="col">
							<div class="input-group">
								<mat-form-field>
									<input formControlName="name" matInput placeholder="Hunt name">
								</mat-form-field>
							</div>
						</div>
					</div>

					<!-- Pokemon infos -->
					<mat-divider></mat-divider>
					<div class="row form-row">
						<div class="col">
							<div class="input-group">
								<mat-form-field>
									<input [matAutocomplete]="auto" formControlName="pokemon" matInput
									       placeholder="Pokemon">
								</mat-form-field>
								<mat-autocomplete #auto="matAutocomplete" (optionsScroll)="scroll()"
								                  [displayWith]="displayFn">
									<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
										{{option.name}}
									</mat-option>
								</mat-autocomplete>
							</div>

							<ng-container *ngIf="!isPokemonCorrectlySelected">
								<div class="alert alert-warning" style="max-width: 180px;">
									Make sure to click on a Pokémon of the list to select it
								</div>
							</ng-container>
						</div>
						<div class="col">
							<mat-card class="pokemon-sprite">
								<img [alt]="selectedPokemon ? selectedPokemon.name : ''" [src]=displaySprite
								     mat-card-image>
								<ng-container>
									<mat-spinner *ngIf="searchingPokemon" class="sprite-spinner"
									             diameter="140"></mat-spinner>
								</ng-container>
							</mat-card>
						</div>
					</div>

					<!-- Encounter infos -->
					<mat-divider></mat-divider>
					<div class="row form-row">
						<div class="col">
							<div class="input-group">
								<mat-form-field>
									<input formControlName="odds" matInput placeholder="Odds to find" type="number">
								</mat-form-field>
							</div>
						</div>
						<div class="col">
							<div class="input-group">
								<mat-form-field>
									<input formControlName="encounters" matInput placeholder="Encounter number"
									       type="number">
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Encounter stats output config -->
			<ng-container *ngIf="displayStatOptions">
				<div class="col-4">
					<mat-list>
						<mat-list-item>pog</mat-list-item>
					</mat-list>
				</div>
			</ng-container>
		</div>
	</form>
</div>
