@import '~@angular/material/theming';

$background-light: white;
$background-dark: gray;

$primary-y: #F2B71F;
$secondary-y: #E7A300;

$theme-light: mat-light-theme((
        color: (
                primary: $primary-y,
                secondary: $secondary-y,
                accent: mat-palette($mat-pink, A200, A100, A400),
        )
));

$theme-dark: mat-dark-theme((
        color: (
                primary: mat-palette($mat-indigo),
                accent: mat-palette($mat-pink, A200, A100, A400),
        )
));
