/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'styles/themes';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.action-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.action-row button {
    margin-right: 8px;
}

.header {
    position: relative;
}

.header .header-actions {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: flex-end;
}

.header .header-actions .action:not(:first-child) {
    margin-left: 10px;
}

.centered {
    display: block;
    margin: auto;
}

.pokemon-sprite {
    width: 200px;
    height: 200px;
}

.pokemon-sprite img {
    width: 200px;
}

.pokemon-sprite .sprite-spinner {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
