<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			<h4 id="hunt-title">{{hunt.name}}</h4>
		</mat-panel-title>
	</mat-expansion-panel-header>
	<div class="hunt-body">
		<img [alt]="hunt.pokemonName" [src]="hunt.pokemonSprite">
		<div class="hunt-infos">
			<div class="container pokemon-encounter">
				<div class="input-group input-group-lg justify-content-center">
					<div class="input-group-prepend"
					     title="Click to copy file path"
					>
						<label (click)="getEncounterPath()" class="input-group-text action-container">
							<span>Encounters</span>
							<fa-icon [icon]="['fas', 'folder']"
							         class="action-icon folder-icon fa-sm"
							>
							</fa-icon>
						</label>
					</div>
					<div class="form-control-full">
						<span id="hunt-encounter">{{hunt.encounterNumber}}</span>
					</div>
					<div class="btn-group-vertical">
						<button class="btn btn-success btn-block" (click)="increaseEncounterNumber()">
							<fa-icon [icon]="['fas', 'plus']"></fa-icon>
						</button>
						<button class="btn btn-danger btn-block" (click)="decreaseEncounterNumber()">
							<fa-icon [icon]="['fas', 'minus']"></fa-icon>
						</button>
					</div>
				</div>
			</div>
			<div class="container shiny-rate">
				<div class="justify-content-center">
					<div class="input-group output">
						<div class="input-group-prepend"
						     title="Click to copy file path"
						>
							<label (click)="getChancesPath()"
							       class="input-group-text shiny-hunt-label action-container">
								<span>Chances</span>
								<fa-icon [icon]="['fas', 'folder']"
								         class="action-icon folder-icon fa-xs"
								>
								</fa-icon>
							</label>
						</div>
						<span class="form-control text-center" id="shiny-chances">{{calculateProbability()}}%</span>
					</div>
					<div class="input-group output">
						<div class="input-group-prepend">
							<span class="input-group-text shiny-hunt-label">Rate</span>
						</div>
						<span class="form-control text-center" id="shiny-rate">1 / {{hunt.odds}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<mat-action-row>
		<div class="hunt-tools">
			<div class="hunt-actions">
				<button (click)="onEdit()" mat-icon-button>
					<fa-icon [icon]="['fas', 'edit']"></fa-icon>
				</button>
				<button (click)="onDelete()" mat-icon-button>
					<fa-icon [icon]="['fas', 'eraser']"></fa-icon>
				</button>
				<button mat-icon-button>
					<fa-icon [icon]="['fas', 'cog']"></fa-icon>
				</button>
			</div>
		</div>
	</mat-action-row>
</mat-expansion-panel>
