<mat-expansion-panel>
	<mat-expansion-panel-header>
		<div class="container-fluid">
			<div class="row">
				<mat-panel-title class="col-4">
					<h3 id="hunt-title">{{hunt.name}}</h3>
				</mat-panel-title>
				<mat-panel-description class="col">
					<h4 id="hunt-start-date">{{hunt.startDate}}</h4>
				</mat-panel-description>
			</div>
		</div>
	</mat-expansion-panel-header>
	<mat-tab-group>
		<mat-tab label="Infos">
			<app-hunt-infos (editEvent)="updateHunt()" [hunt]="hunt"></app-hunt-infos>
		</mat-tab>
		<mat-tab label="Options">
			<app-hunt-options (deleteEvent)="onDelete()" (editEvent)="updateHunt()"></app-hunt-options>
		</mat-tab>
	</mat-tab-group>
</mat-expansion-panel>
