.hunt-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.hunt-header .toggle-button {
    margin-left: auto;
}

.hunt-infos, .hunt-tools {
    display: flex;
    justify-content: start;
}

.output {
    margin: 8px;
}

.form-control-full {
    width: 175px;
    height: 100px;

    border: 1px solid lightgray;
    text-align: center;
}
.form-control-full span {
    margin-top: 40px;

    display: inline-block;
    vertical-align: middle;
}

.shiny-hunt-label{
    width: 100px;
    display: inline-block;
    text-align: center;
}

#hunt-title {
    font-weight: bold;
}

#hunt-encounter {
    font-weight: bold;
    font-size: 40px;
}

#shiny-chances {
    font-style: italic;
    font-weight: bold;
}

#shiny-rate {
    font-style: italic;
}

.action-container {
    position: relative;
}

.action-container .folder-icon {
    position: absolute;
    top: 3px;
    right: 3px;
}

.action-container .folder-icon {
    opacity: 0;
}

.action-container:hover .folder-icon {
    animation-name: hover-icon;
    animation-duration: 1s;
    animation-direction: normal;
    opacity: 1;
}

@keyframes hover-icon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
